﻿.form {
    background:#fdca00;
    float: right;
    width: 304px;
    margin:0;
}
.form .topo{float:left;width:290px;height:41px;background:#414141;color:#fff;font: 13px/41px 'IstokWebRegular', Arial, sans-serif;padding:0 0 0 14px;}
.form .linha{float:left;width:288px;margin:10px 8px;}
.form .linha-social{float:left;width:304px;padding:10px 0;text-align:right;background:#fff;}
.form .linha-social div{float:right;margin:0 0 0 10px;}
.form label{float:left;width:64px;margin:0;font: 12px/24px 'IstokWebBold', Arial, sans-serif;text-align:right;color:#303030;}
.form input[type=text]{float:right;border:0 none;font-size:12px;height:19px;margin:0;padding:4px;width:211px;border-top:solid 1px #a6a6a6;border-right:solid 1px #fff;border-bottom:solid 1px #fff;border-left:solid 1px #a6a6a6;padding:1px;}
.btn_hib{background: url("../imagens/btn-ok.png") no-repeat scroll 0 0 transparent;cursor: pointer;display: block;float: right;height: 47px;margin: 2px 0 10px 15px;width: 148px;border:none;}
.form .plano{float:left;margin:0 8px 0 15px;font: 15px/16px 'IstokWebRegular', Arial, sans-serif;color:#303030;}
.form .plano .curso-mes{font-size:12px;}
.form .valor-plano{font: 22px/24px 'IstokWebBold', Arial, sans-serif;color:#303030;margin:0;}
.form .txt_assinante{text-align:right;font: 12px/20px 'IstokWebRegular', Arial, sans-serif;color:#414141;margin:0 4px 0 0;}
.form .container-assinatura{float:left;margin-top:15px;width:100%;}