﻿html, body, iframe, form { margin:0; padding:0; height:100%; }
iframe { display:block; width:100%; border:none; height:660px; }
#rodape-social{float:left;width:100%;height:60px;background:#b9b9b9;}	
.linha-rodape{display:block;width:100%;height:5px;background:#414141;margin:10px 0 30px 0;}
#rodape{float:left;width:100%;background:#414141;height:120px;padding-top:30px;text-align:center;}
#rodape-direitos{float:left; width:100%;height:41px;background:#303030;text-align:center;padding:0;line-height:41px;}
#rodape .cursos-categoria{float:left;margin:0 150px 0 0;}
#rodape .cursos-categoria a.item-categoria{float:left;text-decoration:none;font: 12px/14px 'IstokWebRegular', Arial, sans-serif;color:#fff;margin:4px 46px 4px 0;}
#rodape .titulo-rodape{font: 13px/14px 'IstokWebRegular', Arial, sans-serif;color:#fff200;margin:0 0 30px 0;text-align:left;}
#rodape .sobre{float:left;margin:0;}
#rodape .sobre a.item-categoria{display:block;text-decoration:none;font: 12px/14px 'IstokWebRegular', Arial, sans-serif;color:#fff;margin:7px 46px 7px 0;text-align:left;}
#rodape .for-dummies{float:right;}
#rodape-direitos .texto-direitos{float:right;font: 12px/41px 'IstokWebRegular', Arial, sans-serif;color:#fff;}