﻿	.banner {height: 549px; margin-top:-2px}
	#inc-home-1{width: 730px;margin-left: 2px;margin-top: 0px;float:right;height: 520px;}
	.banner a img{border:none!important;}
	#inc-home-1 .banner{overflow:hidden;width:730px;position:relative;height: 237px!important;}
	#inc-home-1 .banner img{display:block;}            
	/*#inc-home-1 .banner .next,#inc-home-1 .banner .prev{border: none;display: block;height: 50px;width: 30px;position: absolute;top: 90px;background: none;cursor:pointer;}*/
	#inc-home-1 .banner .next,#inc-home-1 .banner .prev{border: none;display: none;height: 50px;width: 30px;position: absolute;top: 90px;background: none;cursor:pointer;}
	#inc-home-1 .banner .next{right:0;background: url(https://simg.uol.com.br/cursosonline/images/home/images/tvflash-seta-next.png) no-repeat 4px 0px;}
	#inc-home-1 .banner .prev{left:0;background: url(https://simg.uol.com.br/cursosonline/images/home/images/tvflash-seta-prev.png) no-repeat -9px 0px;) no-repeat -200px -200px}
	#inc-home-1 .lista-cursos ul li{float:left;margin-right:20px;margin-left:25px;margin-top:20px;width:105px;font-size:11px;height:133px}
	#inc-home-1 .lista-cursos ul li a{text-decoration:none;font-weight:normal;color: #333333;}
	#inc-home-1 .lista-cursos ul li a span{text-transform: uppercase;color: #767676;font-size: 9px;}
	#inc-home-1 .lista-cursos ul li a img{border:none!important}
	#inc-home-1 .lista-cursos ul li a:hover{text-decoration:underline;}
	#inc-home-1 .lista-cursos ul li.first{float:left;margin-left:0px!important;}
	#inc-home-1 .lista-cursos ul li div{margin-top:3px;}
	#inc-home-2{padding:1px;margin-top: 20px;}
	#inc-home-2 h2{margin-top: 15px;font-size: 24px;margin-left: 37px;margin-bottom: 0;}
	#inc-home-2 .passos{background:url("https://simg.uol.com.br/cursosonline/images/home/images/home_33.jpg") no-repeat;}
	#inc-home-2 .passos{height:130px;color:#666;}
	#inc-home-2 .num{margin:42px 20px 20px 20px;list-style-type:decimal;float:left;font-size:24px;font-weight:bold;position:relative;}
	#inc-home-2 .txt{font-size:12px;font-weight:normal!important;}
	#inc-home-2 div.a, #inc-home-2 div.b, #inc-home-2 div.c{float:left;}
	#inc-home-2 div.a .txt{width: 138px;margin: 13px;margin:50px 13px 0px 105px;}	
	#inc-home-2 div.b .txt{width: 180px;margin: 37px 35px 0px 153px;}	
	#inc-home-2 div.c .txt{width: 238px;margin: 32px 10px 0px 43px;}	
	#inc-home-2 div.c .txt span{font-size: 16px;font-weight: bold;}
	#inc-home-2 div.c .assine{width: 102px;background:#ff9d00;margin-left: 60px;margin-top: 13px;height: 24px;padding:1px;}	
	#inc-home-2 div.c .assine a{color: white;font-size: 14px;text-transform: uppercase;text-decoration: none;margin-top: 3px;display: block;margin-left: 13px;font-weight: bold;}
	#inc-home-2 .carrousel{position:relative;width:988px;margin-top:20px;margin-bottom:20px;}
	#inc-home-2 .carrousel .container{margin-left: 31px;overflow: hidden;padding-top: 15px;width: 870px;}
	#inc-home-2 .carrousel .container .group{width:6300px;}	
	#inc-home-2 .carrousel .container .group .curso{min-height: 67px !important;margin-top: 0;border-right: 1px dotted #CCC;float: left;margin-left: 5px;margin-right: 8px;padding: 0px 12px 20px;width: 138px;height: 67px;}
	#inc-home-2 .carrousel .container .group .maior{width: 163px!important;}
	#inc-home-2 .carrousel .container .group .maior2{width: 163px!important;margin-left: 23px;}
	#inc-home-2 .carrousel .container .group .curso a{color:#ff9d00;font-weight:normal;font-size:11px;text-decoration:underline;}
	#inc-home-2 .carrousel .container .group .curso a:hover{text-decoration:underline;}
	#inc-home-2 .carrousel .container .group .curso p{color:#666;font-size:11px;text-decoration:none;margin:0;}
	#inc-home-2 .carrousel .container .group .curso p a{color:#666;font-size:11px;text-decoration:none;}
	#inc-home-2 .carrousel .container .group .curso p strong{margin-bottom: 2px;margin-top: 0px;min-height: 15px;height:15px;display:block;color:#333!important;font-size:12px;}
	#inc-home-2 .carrousel .container .group .curso p strong a{color:#333!important;font-size:12px;font-weight:bold;text-decoration:none;}
	#inc-home-2 .carrousel .prev{position: absolute;width: 30px;height: 50px;top: 37px;left: 0px;background: url(https://simg.uol.com.br/cursosonline/images/home/images/home_36.jpg);border: none;cursor:pointer;}
	#inc-home-2 .carrousel .next{position: absolute;width: 30px;height: 50px;top: 36px;right: 48px;background: url(https://simg.uol.com.br/cursosonline/images/home/images/home_38.jpg);border: none;cursor:pointer;}	
	.dottedTop{border-top: 1px dotted #CCC;heigth:2px;line-heigth:2px;min-heigth:2px;margin-right: 70px;}	