*{font-size:100%;margin:0;padding:0;}
html{font-size:100%;height:100%;margin:0;padding:0;}
body{color:#333333;font:12px Arial,Helvetica,sans-serif;text-align:center;}
a, object{outline:medium none;}
ol, ul{list-style:none outside none;margin:0;padding:0;}
a img{border:0 none;}
a{color:#666666;font-weight:bold;}
.clear{clear:both;line-height:0;}
.center{margin:0 auto;text-align:left;width:950px;}
.divisa{float:left;width:38px;}
#geral{text-align:left;}
#header{background:#414141;height:90px;overflow:hidden;}
#header #logo{background:url("../imagens/logo-uol-for-dummies.png") no-repeat scroll 0 0 transparent;height:70px;margin:10px auto;width:950px;}
#content{margin:0 auto;width:520px;height:180px;margin-top:100px;}
#content .icon{float:left;margin-right:15px;}
#content .txt{float:left;margin-top:15px;}
#content .txt a{color:#ff9c01;text-decoration:none;margin-top:10px;display:block;font-size:14px;}
#content h1{color:#000000;font-size:36px;letter-spacing:-1px;}
#content h2{color:#666;font-size:14px;font-weight:normal!important;margin-top:10px;}
#footer{width:988px;margin:0 auto;}
#foot{margin:30px 0 30px 300px;}
#foot div{float:left;text-align:center;}
#foot div span{color:#999999;font-size:11px;}