body{margin:0;font-family:'IstokWebRegular',Arial,sans-serif;}
h3{font-weight:normal;}
.fl{float:left;}
.fr{float:right;}
.corpo{margin:0 auto;width:960px;}
.corpo-maior{margin:0 auto;width:980px;}
.corpo-maior-sub{float:right;width:960px;text-align:left;}
.allCornerShadow{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
span.idiomaDetalhe{font-weight:normal;font-size:13px;}
span.idiomaLista{font-weight:normal;font-size:11px;color:#777777;}
span.idiomaBusca{font-weight:normal;font-size:12px;color:#777777;}
a{outline:none;}
ul{margin:0;padding:0;list-style:none;}
.topo-descrip{width:100%;}
.margin-descrip{margin-top:2px;}
.topo-descrip p{margin:10px;padding:0;font-size:12px;color:#ff9e00;}
.topo-descrip p,.topo-descrip h1.busca{float:left;margin:10px 5px;font-size:12px;color:#666666;text-decoration:none;}
.topo-descrip span.barra{color:Yellow;}
.topo-descrip span{font-weight:bold;}
.topo-descrip a{text-decoration:underline;color:#666666;}
.topo-descrip h1.tituloMaior{margin:10px;padding:0;font: 19px 'IstokWebBold', Arial, sans-serif;color:#616d79;}
.faixa-topo{display:block;width:100%;background:#414141;}
.faixa-topo .faixa-links{display:block;width:100%;background:url(../imagens/bg-barra-fixa.png);overflow:hidden;height:40px;line-height:40px;}
#TopoCursosUol{padding:14px 0;}
#TopoCursosUol .logo{float:left;margin:0 0 0 14px;display:block;width:250px;height:109px;background:url('../imagens/logo-uol-for-dummies.jpg') no-repeat;text-indent:-100em;overflow:hidden;}
.Menu{margin:0;width:620px;float:left;height:40px;line-height:40px;}
.Menu ul li{float:left;}
.Menu ul li{color:#c2c2c2;height:40px;line-height:40px;}
.Menu ul li a{display:block;padding:0 22px 0 0;color:#fff;font: 12px 'IstokWebRegular', Arial, sans-serif;height:40px;line-height:40px;text-decoration:none;}
.Menu ul li a:hover, .Menu ul li a.active:hover{text-decoration:underline;}
.Menu ul li a.active{display:block;padding:0 22px 0 0;color:#fff200;font: 12px 'IstokWebRegular', Arial, sans-serif;height:40px;line-height:40px;text-decoration:none;}
.AreaAluno{float:left;width:100%;}
.area-aluno{position:static;margin-top:30px;*margin-bottom:-190px;float:right;width:327px;padding:0 0 0 10px;height:76px;}
.area-aluno p{font: 10px 'IstokWebBold', Arial, sans-serif;margin:6px 0;padding:0;color:#fff200;}
.area-aluno .internal{padding-top:4px;width:253px;}
.area-aluno .internal .checkbox{float:right;margin-top:3px;color:#fff;}

input[type=checkbox].css-checkbox {display:none;}
label.css-label{background-image:url(../imagens/bg_check.png);padding-left:15px;height:11px;display:inline-block;line-height:11px;background-repeat:no-repeat;background-position: 0 0;font-size:11px;vertical-align:middle;cursor:pointer;}
label.css-label-checked{background-image:url(../imagens/bg_check.png);padding-left:15px;height:11px;display:inline-block;line-height:11px;background-repeat:no-repeat;background-position: 0 -11px;font-size:11px;vertical-align:middle;cursor:pointer;}
.area-aluno .check{float:left;font-size:10px;color:#888888;margin:0;padding:0;}
.area-aluno .check input{float:left;margin:0 2px 0 0;}
.area-aluno .check label{float:left;*margin-top:4px;_margin-top:4px;margin-top:4px\0/IE8+9;}
.area-aluno a{margin-right:26px;float:left;text-decoration:none;color:#fff;font-size:11px;}
.area-aluno a:hover{text-decoration:underline;}
.area-aluno div.container-email{float:left;width:133px;height:24px;padding:7px 0 0 10px;background:url('../imagens/bg-email.png') no-repeat;}
.area-aluno div.container-email .txtEmailAluno{float:left;width:123px;height:15px;border:none;font-size:11px;}
.area-aluno div.container-senha{float:left;width:93px;height:24px;padding:7px 0 0 10px;margin:0 6px;background:url('../imagens/bg-senha.png') no-repeat;}
.area-aluno div.container-senha .txtSenhaAluno{float:left;width:83px;height:15px;border:none;font-size:11px;}
.area-aluno-logado{float:right;width:330px;padding:10px 0;*padding-bottom:0;}
.area-aluno-logado .info{float:left;width:100%;}
.area-aluno-logado .info .txtAluno{float:left;font: 12px/14px 'IstokWebRegular', Arial, sans-serif;color:#fff200;}
.area-aluno-logado .info .link-sair{float:right;font: 12px/14px 'IstokWebRegular', Arial, sans-serif;color:#fff200;text-decoration:none;}
.area-aluno-logado .conteudo{width:310px;background:#585858;float:left;padding:10px;font: 12px/14px 'IstokWebRegular', Arial, sans-serif;color:#fff;}
.area-aluno-logado p.AreaAluno{float:left;width:90px;margin:0;padding:0;color:#666666;font-size:13px;font-weight:bold;}
.area-aluno-logado p span{color:#ff9c00;}
.area-aluno-logado p.quantidade-cursos{font-weight:normal;width:100%;}
.area-aluno-logado p.quantidade-cursos span{font-weight:bold;}
.area-aluno-logado .conteudo-aluno{background:#f0f0f0;float:right;margin:0 -24px -10px 0;padding:10px 0;*margin-left:-686px;display:block;}
.area-aluno-logado .conteudo-aluno h1{float:left;margin:10px 0 0 30px;padding:0;font-size:18px;color:#333333;line-height:23px;}
.area-aluno-logado .conteudo-aluno h2{margin:10px 0 10px 30px;padding:0;font-size:14px;color:#333333;}
.area-aluno-logado .conteudo-aluno h2.avulso{margin-bottom:43px;}
.area-aluno-logado .conteudo-aluno h3{float:right;margin:10px 30px 0 0;padding:0;font-size:12px;color:#333333;}
.area-aluno-logado .conteudo-aluno .dropbox{width:131px;padding:5px;background:url('../imagens/fundo-dropbox-busca.png') no-repeat;border:0;*background:none;}
.area-aluno-cursos{float:left;width:100%;min-height:416px;background:#ededed;margin:14px 0;text-align:center;}
.area-aluno-cursos .cursos-topo{float:left;width:100%;margin:14px 0;}
.area-aluno-cursos .cursos-dummies{float:left;height:65px;padding:0 0 0 68px;background:url(../imagens/dummie02.png) no-repeat;font: 18px/65px 'IstokWebBold', Arial, sans-serif;color:#414141;}
.area-aluno-cursos .sem-cursos{float:left;width:100%;text-align:center;}
.area-aluno-cursos .sem-cursos .exclamacao{margin:auto; width:310px;height:136px;background:url(../imagens/balao-exclamacao.png) no-repeat center 0;padding:150px 0 0 0;text-align:center;font: 18px/65px 'IstokWebBold', Arial, sans-serif;color:#757575;}
.largura-dois-box{width:480px;}
.largura-dois-box .cursos-slider{width:480px;}
.largura-dois-box ul li{margin:0 10px;}
.largura-um-box{margin-top:10px;width:960px;}
.largura-um-box .cursos-slider{width:960px;}
.largura-um-box .slides_container,.largura-um-box .slide{width:984px;}
.largura-um-box ul li{margin:0 20px;}
.cursos-slider{float:left;height:208px;}
.cursos-slider ul li{float:left;}
.box-box-modelo{float:left;}
.cursos-slider{height:208px;}
.cursos-slider .slide {display:block;overflow:hidden;}
.cursos-slider .pagination{margin:0 auto;clear:both;text-align:center;}
.cursos-slider .pagination li{display:inline-block;text-align:center;*display:inline;}
.cursos-slider .pagination li a{margin:0 2px;font-size:12px;font-weight:bold;text-decoration:none;color:#FFF;background:url('../imagens/fundo-paginacao-inativo.png') no-repeat;width:25px;line-height:25px;display:inline-block;}
.cursos-slider .pagination li.current a{font-size:12px;font-weight:bold;text-decoration:none;color:#616d79;background:url('../imagens/fundo-paginacao-ativo.png') no-repeat;width:25px;line-height:25px;display:inline-block;}
.slides_control{width:960px;height:282px;}
.group-pagination{float:left;width:100%;margin-top:20px;}
.group-pagination .preve, .group-pagination .nexte{background:none;color: #414141;float: right;font: 11px/16px 'IstokWebRegular',Arial,sans-serif;padding: 5px 15px;text-decoration:none;cursor:pointer;}
.group-pagination .preve:hover, .group-pagination .nexte:hover{background:#414141;color: #FFF200;cursor:pointer;}
.group-pagination .preve{margin:0 10px 0 0;}
a.btn{text-decoration:none;}
.matricula{width:140px;float:left;margin:0 24px 0 0;}
.matricula h4{margin:7px 0;padding:0;font:11px/16px 'IstokWebRegular', Arial, sans-serif;color:#414141;height:50px;text-transform:uppercase;}
.matricula .porcento{width:100%;}
.matricula .progress{float:left;border:solid 1px #414141;width:106px;height:9px;}
.matricula .porcento .progress div{background:#fbfe07;height:100%;}
.matricula .porcento-vermelho .progress div{background:#df0044;height:100%;}
.matricula .porcento p{float:left;margin:-2px 0 0 5px;padding:0;font-size:11px;color:#414141;font-weight:bold;}
.matricula .porcento-vermelho p{float:left;margin:-2px 0 0 5px;padding:0;font-size:11px;color:#df0044;font-weight:bold;}
.matricula p{margin:8px 0;padding:0;font-size:11px;color:#333333;}
.matricula p.destaque{color:#FF9900;margin:0;}
.matricula p a{color:#333333;}
.matricula .botao-acessar{float:left;width:140px;height:31px;background:url('../imagens/botao-acessar.png') no-repeat;}
.matricula .porcentagem-curso{float:left;width:100%;height:30px;}
.matricula .acesso-curso{float:left;width:100%;height:60px;overflow:hidden;}
.matricula .acesso-curso p{margin:2px 0;}
.matricula .container-full{float:left;width:100%;text-align:center;font: 12px/14px 'IstokWebBold',Arial,sans-serif;color:#414141;}
.matricula .container-full-vermelho{float:left;width:100%;text-align:center;font: 12px/14px 'IstokWebBold',Arial,sans-serif;color:#df0044;}
.matricula .curso-concluido{padding:3px 0 3px 22px;background: url(../imagens/icn_concluido.png) no-repeat;color:#009720;font-size:12px;margin:auto;}
.matricula .emitir-certificado{font:11px/13px 'IstokWebRegular', Arial, sans-serif;color:#009720;}
.escolha-sua-area{float:left;width:210px;background:#414141;}
.escolha-sua-area .topo{width:170px;height:38px;background:url('../imagens/escolha-sua-area.png') no-repeat 20px center;cursor:pointer;padding:22px 0 0 40px;color:#aaa;}
.escolha-sua-area .topo h2{font-size:13px;margin:0;}
.escolha-sua-area .conteudo{width:210px;background:#414141;margin-bottom:14px;}
.escolha-sua-area .conteudoInterno{width:960px;}
.escolha-sua-area .conteudo .corpo{padding:10px 0;width:100%;line-height:0.88em;overflow:hidden;}
.escolha-sua-area .conteudo .corpo br{display:none;}
.escolha-sua-area .conteudoInterno .corpo{padding:10px 0;width:100%;background:url('../imagens/fundo-escolha-sua-area-interno.png') repeat-y;line-height:0.62em;float:left;}   
.escolha-sua-area .conteudoInterno .corpo .itemMenu{float:left;width:320px;}
.escolha-sua-area .corpo table{width:100%;}
.escolha-sua-area .corpo a{display:block;padding:9px 0 9px 20px;text-decoration:none;color:#fff;font: 13px/14px 'IstokWebRegular', Arial, sans-serif;}
.escolha-sua-area .corpo a:hover, .escolha-sua-area .corpo a.active, .escolha-sua-area .corpo a.active:hover{color:#fff200;}
.escolha-sua-area .conteudoInterno .rodape{float:left;width:960px;height:6px;background:url('../imagens/rodape-escolha-sua-area-interno.png') no-repeat;}
.busca-barra{float:right;width:249px;height:27px;}
.busca-barra .textbox{float:left;margin:7px 0 0 0;padding:0 0 0 10px;width:203px;height:27px;background:url('../imagens/fundo-testbox-busca.png') no-repeat;border:0;font-size:11px;}
.busca-barra .dropbox{float:left;margin:11px 0 0 12px;width:133px;padding:5px;background:url('../imagens/fundo-dropbox-busca.png') no-repeat;border:0;*background:none;}
.busca-barra .radioButton{float:left;margin:11px 0 0 12px;font-size:12px;color:#333333;}
.busca-barra .button{float:left;margin:7px 0 0 3px;}
.bannerUol{float:right;margin-top:6px;width:731px;}
.banner{margin-bottom:14px;}
.banner .container{margin-top:9px;}
.corpo-cursos{width:730px;}
.corpo-cursos .cursos .curso{width:150px;margin:20px 14px;}
.Descricao{float:left;width:100%;background:url('../imagens/fundo_descricao.png') top repeat-x;-webkit-border-top-left-radius:20px;-webkit-border-top-right-radius:20px;-moz-border-radius-topleft:20px;-moz-border-radius-topright:20px;border-top-left-radius:20px;border-top-right-radius:20px;}
.BreveDescricao{font-family:Arial;font-size:12px;color:#545454;height:56px;padding:25px;}
.filtros{float:left;width:100%;text-align:right;font-size:13px;font-weight:bold;}
.filtros .dropbox{width:200px;margin-right:25px;}
h3 div.filtros{float:right;width:300px;}
.relativo{position:relative;*margin-top:-10px;}
.como-utilizar{position:relative;display:block;}
.paginacao{float:left;padding:10px 0;width:100%;text-align:center;}
.paginacao .link{font-size:12px;color:#616d79;text-decoration:none;font-weight:bold;}
.paginacao .linkdisabled{font-size:12px;color:#616d79;text-decoration:none;cursor:default;}
.paginacao .link-pagina{font-size:12px;font-weight:bold;text-decoration:none;color:#FFF;background:url('../imagens/fundo-paginacao-inativo.png') no-repeat;width:25px;line-height:25px;display:inline-block;}
.paginacao .link-pagina-ativo{font-size:12px;font-weight:bold;text-decoration:none;color:#616d79;background:url('../imagens/fundo-paginacao-ativo.png') no-repeat;width:25px;line-height:25px;display:inline-block;}
.resultado-de-busca{position:relative;}
.resultado-de-busca h3{float:left;width:100%;margin:10px 0;padding:5px;color:#616d79;font-size:15px;border-bottom:solid 1px #999999;}
.resultado-de-busca .busca-dicas{float:left;font:bold 12px Arial;width:910px;height:107px;background:url('../imagens/busca-dicas.png') no-repeat;padding:10px 0 14px 50px;color:#616d79;line-height:22px;}
.resultado-de-busca .resultado-curso{float:left;width:100%;border-bottom:solid 1px #e0e0e0;padding:20px 0;}
.resultado-de-busca .resultado-curso img{float:left;}
.resultado-de-busca .resultado-curso img.imagem{ width:243px; height:140px;}
.resultado-de-busca .resultado-curso .fl{width:520px;}
.resultado-de-busca .resultado-curso h2{margin:8px 0 0 15px;font-size:15px;color:#616d79; font-family:IstokWebBold;}
.resultado-de-busca .resultado-curso h2 a{margin:8px 0 0 0;font-size:15px;color:#616d79;text-decoration:none;}
.resultado-de-busca .resultado-curso h2 a:hover{text-decoration:underline;}
.resultado-de-busca .resultado-curso p{margin:10px 15px;font-size:12px;color:#616d79;}
.resultado-de-busca .resultado-curso img.img-audio-curso{float:none;}
.resultado-de-busca .resultado-curso a.botao-resultado-curso-assime-ja{float:left;margin:36px 0 0 30px;display:block;width:165px;height:65px;background:url('../imagens/resultado-busca-assine-ja.png') no-repeat;}
.resultado-de-busca .resultado-curso a.botao-resultado-curso-detalhes{float:left;margin:36px 0 0 30px;display:block;width:165px;height:62px;background:url('../imagens/resultado-busca-detalhes.png') no-repeat;}
.detalhes-curso{position:relative;}
.detalhes-curso .imagem-curso{float:left;margin:30px 20px 0 0;}
.detalhes-curso  h2{float:left;margin:0px 0 10px 0;padding:0;font-size:28px;color:#333333;width:430px;}
.detalhes-curso  h3{float:left;margin:30px 0 0px 0;padding:0;font-size:20px;color:#333333;width:430px;}
.detalhes-curso  .caixaCurso{width:645px;float:left;}
.detalhes-curso .informacao-curso{float:left;width:400px;}
.detalhes-curso .informacao-curso p{margin:10px 0;padding:0;font-size:12px;color:#333333;}
.detalhes-curso .informacao-curso a{display:block;margin:20px 0;padding:0;font-size:12px;color:#ff9c00;background:url('../imagens/lupa.png') center right no-repeat;width:170px;line-height:15px;}
.detalhes-curso .botao-assine{margin-top:20px;float:right;}
.detalhes-curso .botao-assine-ja{float:right;height:66px;margin-right:-5px;margin-top:-42px;*margin-top:-62px;width:321px;margin-bottom:10px;margin-bottom:20px;}
.detalhes-curso .botao-assine-ja .txt_assinante{float:right;font-size:11px;margin-right:14px;margin-top:-18px;width:113px;}
.detalhes-curso .botao-assine-ja h3{margin:15px 10px;padding:0;font-size:12px;width:175px;}
.detalhes-curso .botao-assine-ja h3 span{color:#ff9c00;}
.detalhes-curso .botao-assine-ja p{margin:10px 8px;padding:0;font-size:9px;color:#666666;}
.detalhes-curso .botao-assine-ja p strong{color:#000000;font-size:22px;}
.detalhes-curso .botao-assine-ja p strong span{font-weight:normal;font-size:12px;}
.detalhes-curso .botao-assine-ja .botao-assine-ja-curso{margin:0 0 -11px 8px;}
.detalhes-curso .conteudos-do-curso{margin:30px 0;float:left;width:100%;}
.detalhes-curso .conteudos-do-curso .Abas{float:left;width:645px;}
.detalhes-curso .conteudos-do-curso .Abas .Requisitos{float:left;width:500px;font-size:12px;}
.detalhes-curso .veja-tambem-top-cursos{margin:10px 0;float:left;width:100%;border:1px solid #dddddd;background:#eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;color:#333333;}
.detalhes-curso .veja-tambem-top-cursos .icone-veja-tambem{margin:-30px 0 0 12px;width:167px;height:41px;background:url("../imagens/detalhes-curso-barrinha-topo.png") no-repeat;}
#tabs table{width:100%;color:#666666;font-size:12px;}
#tabs p{margin:10px 0;padding:0;font-size:13px;color:#666666;}
.detalhes-curso .conteudos-do-curso .galeria-de-fotos{float:right;width:300px;}
.detalhes-curso .conteudos-do-curso .galeria-de-fotos p{margin:4px 0;font-weight:bold;font-size:14px;}
.pnlAcabou{float:left;width:468px;height:61px;background:url(../imagens/bg-alert.png);font:15px 'IstokWebBold', Arial, sans-serif;color:#fff200;text-align:center;padding:0;line-height:61px;margin:0 0 20px 0;}
div#boxTrocaNome,div#divSucesso,div#divErro{display:none;width:600px;height:80px;}
.meio_topo{width:100%;}
.Centro{text-align:center;}
div.cPadrao{float:left;width:582px;padding:0 9px;background:White;font:bold 12px Arial;color:#666666;}
div.cPadrao div.F{float:left;width:100%;text-align:right;}
div.tBorda,div.rBorda{float:left;width:100%;height:9px;}
div.tBorda div.E{float:left;width:9px;height:9px;background:url(../imagens/cantos.png) no-repeat;}
div.tBorda div.M,div.rBorda div.M{float:left;width:582px;height:9px;background:White;}
div.tBorda div.D{float:right;width:9px;height:9px;background:url(../imagens/cantos.png) no-repeat -9px 0;}
div.rBorda div.E{float:left;width:9px;height:9px;background:url(../imagens/cantos.png) no-repeat 0 -9px;}
div.rBorda div.D{float:right;width:9px;height:9px;background:url(../imagens/cantos.png) no-repeat -9px -9px;}
.txtNovoNome{width:240px;height:20px;border:solid 1px #7c9bb7;font-size:11px;}
div.cPadrao input[type=submit],div.cPadrao input[type=button]{background:none repeat scroll 0 0 #2e2e2e;border:medium none;color:#FFFFFF;font:10px Arial;height:22px;margin:0 0 0 10px;width:44px;}
a.fechar{color:#666666;text-decoration:none;padding:2px 4px;}
a.fechar:hover{background:#FBFE07;color:#414141;}
.sobre-os-cursos{padding-bottom:20px;}
.sobre-os-cursos .conteudo-interno{float:left;width:100%;}
.sobre-os-cursos .conteudo-interno p{color:#333333;font-size:16px;margin:10px;padding:0;}
.sobre-os-cursos .conteudo-interno h2{color:#ff9c00;font-size:16px;margin:30px 10px 10px 10px;padding:0;}
.duvidas{padding-bottom:20px;position:relative;}
.duvidas .interior-de-accordions{float:left;width:100%;}
.duvidas .interior-de-accordions h2{margin:20px 10px;padding:0;color:#ff9c00;font-size:16px;}
.duvidas .interior-de-accordions .separador{border-top:1px dotted #454545;}
.icone-audio-curso{display:block;background:url(../imagens/audio-curso.png) no-repeat;padding:2px 0 5px 25px;color:#FF9900;font-size:13px;font-weight:bold;}
.ui-tabs-panel table tr td, .tabsConteudo .ui-widget-content p{font-size:14px;}
#sobre-a-assinatura-uol{display:none;margin:-141px 0 0 -155px;width:406px;padding:10px 20px 20px 20px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#FFF;position:absolute;z-index:1001;}
#sobre-a-assinatura-uol p{margin:0 0 10px 0;font-size:12px;}
#sobre-a-assinatura-uol p.close-bot{text-align:right;}
#sobre-a-assinatura-uol p a{text-decoration:none;font-weight:bold;}
#sobre-a-assinatura-uol p strong{color:#666666;}
.overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;z-index:1000;}
/* Default */
.faixa-home{display:block;width:100%;height:253px;text-align:center;background:#fdd600 url(../imagens/faixa-amarela.jpg) no-repeat center;margin-top:14px;}
.corpo-home{display:block;width:980px;margin:-253px auto 0 auto;}
.BarraFixa{position:fixed;left:0;width:100%;height:15px;text-align:center;background:url(../imagens/sombra.png) repeat-x;top:0;z-index:100;display:none;top:40px;}
/* O que e */
.container-o-que-e{float:left;width:581px;min-height:505px;margin-top:14px;padding:0 340px 0 50px;background:url(../imagens/oquee.jpg) no-repeat;}
.container-o-que-e .titulo-oquee{margin:50px 0 40px 0;font: 25px/16px 'IstokWebBold', Arial, sans-serif;}
.container-o-que-e .texto-oquee{margin:0 0 10px 0;font: 13px/18px 'IstokWebRegular', Arial, sans-serif;}
.container-o-que-e ul.lista-oquee li{margin:0 0 0 15px;font: 13px/30px 'IstokWebRegular', Arial, sans-serif;list-style-image:url(../imagens/ic-lista.png);}
/* assine */
.container-assine{float:left;width:330px;min-height:467px;margin:14px 0 80px 0;padding:38px 270px 0 40px;background:url(../imagens/assine.jpg) no-repeat;}
.container-assine h1{font: 26px/28px 'IstokWebBold', Arial, sans-serif;color:#303030;}
.container-assine h3{font: 20px/24px 'IstokWebBold', Arial, sans-serif;color:#303030;text-transform:uppercase;}
.container-assine p{font:12px/16px 'IstokWebRegular', Arial, sans-serif;color:#303030;}
.container-assine p span.b{font:12px/13px 'IstokWebBold', Arial, sans-serif;color:#303030;}
.container-assine p span.bi{font:12px/13px 'IstokWebBoldItalic', Arial, sans-serif;color:#303030;}
/* Como utilizar */
.container-como-utilizar{color:#414141;}
.container-como-utilizar .titulo-comoutilizar{margin:50px 0 40px 0;font: 25px/16px 'IstokWebBold', Arial, sans-serif;}
.container-como-utilizar .passo{float:left;width:800px;height:141px;padding:0 0 0 160px;margin:0 0 50px 0;}
.container-como-utilizar .passo01{background:url(../imagens/como-utilizar01.jpg) no-repeat;}
.container-como-utilizar .passo02{background:url(../imagens/como-utilizar02.jpg) no-repeat;}
.container-como-utilizar .passo03{background:url(../imagens/como-utilizar03.jpg) no-repeat;}
.container-como-utilizar .passo04{background:url(../imagens/como-utilizar04.jpg) no-repeat;}
.container-como-utilizar .passo p{font: 13px/16px 'IstokWebRegular', Arial, sans-serif;}
/* Duvidas */
.interior-de-accordions{font-family:'IstokWebBold', Arial, sans-serif;color:#414141;}
.interior-de-accordions .titulo-duvidas{margin:50px 0 40px 0;font: normal 25px 'IstokWebBold', Arial, sans-serif;}
.interior-de-accordions h2{font-size:12px;text-transform:uppercase;font-weight:normal;}
/* Fale conosco */
.fale-conosco{font-family:'IstokWebRegular', Arial, sans-serif;color:#414141;}
.fale-conosco .titulo-faleconosco{margin:50px 0 40px 0;font: normal 25px 'IstokWebBold', Arial, sans-serif;}
.fale-conosco .telefones{float:left;width:310px;margin:0 0 0 10px;color:#616d79;}
.fale-conosco .telefones p{margin:20px 0;padding:0;font-size:13px;}
.fale-conosco .telefones p strong.tel{color:#323232;font-size:25px;}
.fale-conosco .links{float:left;width:250px;padding:0 0 0 33px;border-left:solid 1px #cacaca;margin-bottom:146px;}
.fale-conosco .links p{margin:4px 0;padding:0;font-size:13px;color:#616d79;}
.fale-conosco .links h2{margin:20px 36px;padding:0;font-size:15px;}
.fale-conosco .links p a{margin:0 0 0 36px;color:#616d79;text-decoration:none;}
.fale-conosco .links p a:hover{text-decoration:underline;}
.fale-conosco .fordummies-faleconosco{float:left;width:190px;height:174px;background:url(../imagens/ForDummies-FaleConosco.jpg) no-repeat;margin:0 20px 0 0;}
.espaco-topo{margin-top:14px;}
/* Listagem de cursos */
.container-listagem-cursos{float:left;width:770px;overflow:hidden;margin:0;} /*------*/
.lista-cursos{float:right;}
.lista-cursos .mais-vendidos{float:right;width:757px;border-bottom:solid 1px #414141;margin-bottom:14px;}
.lista-cursos .mais-vendidos .aba{float:left;color:#fff200;padding:5px 15px;background:#414141;font: 11px/16px 'IstokWebRegular', Arial, sans-serif;}
.lista-cursos ul li{float:left;margin:0 0 10px 13px;width:243px;overflow:hidden;}
.lista-cursos ul li a{display:block;color:#414141;text-decoration:none;text-transform:uppercase;font:12px/16px IstokWebBold,Arial,sans-serif;}
.lista-cursos ul li.separador-linha{float:left;margin:0;width:755px;height:5px;}
.lista-cursos ul li img{margin:0;}
.lista-cursos ul li a.link-curso-texto{display:block;margin:10px 0 0 0;font: normal 12px IstokWebBold, Arial, sans-serif;line-height:16px;}
/* Detalhes */
.breadcrumb{float:left;width:100%;font: 13px/16px 'IstokWebRegular', Arial, sans-serif;color:#888;}
.breadcrumb a{font: 13px/16px 'IstokWebRegular', Arial, sans-serif;color:#888;text-decoration:none;}
.breadcrumb a:hover{text-decoration:underline;}
.breadcrumb span.barra{color:#fff422;font-size:15px;}
.caixaCurso{float:left;width:100%;font: 13px 'IstokWebRegular';margin:25px 0 0 0;color:#616d79;}
.caixaCurso .informacao-curso{float:left;width:100%;}
.caixaCurso .imagens-curso{float:right;width:468px;height:258px;background:#fff;margin:0 0 0 22px;}
.caixaCurso h1{font: 24px/24px 'IstokWebBold', Arial, sans-serif;color:#414141;text-transform:uppercase;margin:0 0 10px 0;}
.caixaCurso .sub-titulo{float:left;border-bottom:solid 2px #fbe500;font: 12px/20px 'IstokWebBold', Arial, sans-serif;color:#414141;}
.block-full{display:block;overflow:hidden;}
.cursos-relacionados{float:right;width:960px;border-bottom:solid 1px #414141;margin-bottom:14px;}
.cursos-relacionados .aba{float:left;color:#fff200;padding:5px 15px;background:#414141;font: 11px/16px 'IstokWebRegular', Arial, sans-serif;}
.container-cursos{float:left;margin-bottom:20px;}
.container-curso-rodape{float:left;width:230px;}
.container-nomecurso-rodape{float:left;height:50px;}
.separador-outros-cursos{float:left;width:13px;height:20px;}
a.nome-curso-rodape{text-decoration:none;font: 12px/20px 'IstokWebRegular', Arial, sans-serif;color:#414141;text-transform:uppercase;}
.slider-wrapper{width:468px;height:240px;}
.nivo-main-image, .img-conteudo-curso{width:468px;height:240px !important;}
.vitrine-home img{ width:243px; height:140px;}
/* Form */
#form-news{display:none;}