<%@ Page Language="C#" MasterPageFile="~/UOL.Master" AutoEventWireup="true" CodeBehind="resultado-de-busca.aspx.cs" Inherits="ForDummies.Web.resultado_de_busca" Title="Resultado de busca" %>
<%@ Register Src="UserControls/ucResultadosBusca.ascx" TagName="ucResultadosBusca" TagPrefix="uc4" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="corpo resultado-de-busca">
        <uc4:ucResultadosBusca id="UcResultadosBusca1" runat="server"></uc4:ucResultadosBusca>
    </div>
</asp:Content>